ExamCheck/build/
ExamCheck/target/
ExamCheck/dist/
ExamCheck/nbproject/private/
/ExamCheck/nbproject/private/
ExamCheck/build/web/WEB-INF/classes/BackEnd/Database.class
ExamCheck/nbproject/private/private.properties

ExamCheck/nbproject/project.properties
ExamCheck/nbproject/private/private.properties
